{{ 'megamenu-header.css' | asset_url | stylesheet_tag }}
<div class="navbar navabar-desktop">
  <nav class="navbar">
    <ul class="navbar_list">
      {% for menu_item in menu.links %}
      <li class="navbar_item dropdown">
        
        {% assign images_block = false %} {% assign images_block_with_product =
        false %} {% assign submenu_block = false %} {% for block in
        section.blocks %} {% assign menu_title = menu_item.title | handleize %}
        {% assign menu_block_title = block.settings.menu | handleize %} {% if
        menu_block_title == menu_title %} 
        {% if block.type == 'promotion-images'
        %} {% assign images_block = true %} 
        
        {% if menu_item.title != blank %}
        <a href="{{ menu_item.url }}" class="navbar_link dropdown_toggle"
          >{{ menu_item.title }}
          <span class="chevron">
            <svg
              width="12"
              height="12"
              viewBox="0 0 13 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.1367 3.375L6.88672 8.625L1.63672 3.375"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </a>
        <div class="dropdown_menu">
          <div class="">
            <div class="">
              <div class="dropdown_menu-inner animate__animated animate__fadeInDown">
                <div class="megamenu-first-row">
                  <div class="megamenu-row-inner-first">
                    <div class="header-list-megamenu">
                      <div class="header-main-list-megamenu">
                        <div class="header-list-megamenu-inner">
                          <span class="header-header-text">{{ block.settings.menu_heading }}</span>
                          <div class="header-header-text-list">
                            <ul class="cust-inner-menu">
                              {% for link in linklists[block.settings.inner_menu].links %}
                                <li>
                                  <a href="{{ link.url }}">{{ link.title }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>

                        
                      </div>
                    </div>
                  </div>
                  <div class="megamenu-row-inner-second">
                    <div class="header-list-megamenu">
                        <div class="header-list-megamenu-inner">
                        <span class="header-header-text">{{ block.settings.menu_heading_2 }}</span>
                        <div class="header-header-text-list">
                        <ul class="cust-inner-menu">
                        {% for link in linklists[block.settings.inner_menu_2].links %}
                            <li>
                            <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                        </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="megamenu-second-row">
                  <div class="megamenu-image-with-text-inner">
                    <div class="image-width-text-header">
                      <div class="product-360-category-main">
                          <a href="{{ block.settings.cta_link_1 }}" class="product-360-category-inner">
                            <div class="product-360-image">
                              <div class="image">
                                <img
                                  src="{{ block.settings.desktop_image_1 | img_url: 'master' }}"
                                  alt="Product Image"
                                  class="desktop-img"
                                />
                                <img
                                  src="{{ block.settings.mobile_image_1 | img_url: 'master' }}"
                                  alt="Product Image"
                                  class="mobile-img"
                                />
                              </div>
                            </div>
                            <div class="product-360-text-area">
                              <div class="product-360-header-main">
                                <div class="common-h5 product-360-header">
                                  <h5>{{ block.settings.header_text_1 }}</h5>
                                </div>
                                <div class="product-360-para">
                                  <p>{{ block.settings.paragraph_text_1 }}</p>
                                </div>
                              </div>
                              <div class="link makro--link product-360-link ">
                                {{ block.settings.cta_text_1 }} 
                                {% render 'arrow-svg' %}
                              </div>
                            </div>
                          </a>
                        </div>

                    </div>

                    <div class="image-width-text-header">
                      <div class="product-360-category-main">
                          <a href="{{ block.settings.cta_link_2 }}" class="product-360-category-inner">
                            <div class="product-360-image">
                              <div class="image">
                                <img
                                  src="{{ block.settings.desktop_image_2 | img_url: 'master' }}"
                                  alt="Product Image"
                                  class="desktop-img"
                                />
                                <img
                                  src="{{ block.settings.mobile_image_2 | img_url: 'master' }}"
                                  alt="Product Image"
                                  class="mobile-img"
                                />
                              </div>
                            </div>
                            <div class="product-360-text-area">
                              <div class="product-360-header-main">
                                <div class="common-h5 product-360-header">
                                  <h5>{{ block.settings.header_text_2 }}</h5>
                                </div>
                                <div class="product-360-para">
                                  <p>{{ block.settings.paragraph_text_2 }}</p>
                                </div>
                              </div>
                              <div class="link makro--link product-360-link">
                                {{ block.settings.cta_text_2 }} 
                                {% render 'arrow-svg' %}
                              </div>
                            </div>
                          </a>
                        </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <a href="{{ menu_item.url }}">{{ menu_item.title }}
         
        </a>
        {% endif %} 
        {% elsif block.type == 'about' %} 
        {% assign
        images_block_with_product = true %}
         {% if menu_item.links != blank and
        images_block_with_product == true %}
        <div href="{{ menu_item.url }}" class="navbar_link dropdown_toggle_"
          >{{ menu_item.title }}
        <span class="chevron">
            <svg
              width="12"
              height="12"
              viewBox="0 0 13 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12.1367 3.375L6.88672 8.625L1.63672 3.375"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </span>
        </div
        >
        <div class="dropdown_menu dropdown-content">
          tessssssssssss
        </div>
        {% else %}
        <a href="{{ menu_item.url }}">{{ menu_item.title }}</a>
        {% endif %} {% elsif block.type == 'sub-menu' %} {% assign submenu_block
        = true %}
        <a href="{{ menu_item.url }}">{{ menu_item.title }}</a>
        <div class="dropdown-content">
          <div class="megamenu_first megamenu_common">
            <div class="megamenu_first_inner">
              {% if block.settings.img1 != blank %}
              <div class="col-25 card-items-main">
                <div class="card_items">
                  <div class="image">
                     <a href="{{ block.settings.link1 }}">
                    <img
                      src="{{ block.settings.img1 | image_url }}"
                      height="auto"
                      width="auto"
                      class="desktop-img"
                    />
                    {% if block.settings.mob-img1 != blank %}
                    <img
                      src="{{ block.settings.mob-img1 | image_url }}"
                      height="auto"
                      width="auto"
                      class="mobile-img"
                    />
                     
                    {% else %}
                    <img
                      src="{{ block.settings.img1 | image_url }}"
                      height="auto"
                      width="auto"
                      class="mobile-img"
                    />
                    {% endif %}
                    </a>
                  </div>
                  <div class="card_content">
                    <a href="{{ block.settings.link1 }}">
                    <h3 class="main_heading h3 text-uppercase">
                      {{ block.settings.title1 }}
                    </h3>
                    </a>
                    <a href="{{ block.settings.link1 }}">
                    <p class="desc">{{ block.settings.des1 }}</p></a>
                    <a
                      href="{{ block.settings.link1 | default:'#' }}"
                      class="link makro--link"
                      >{{ block.settings.btn1 }}
                      <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M2 8H14M14 8L8 2M14 8L8 14"
                          stroke="currentcolor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              {% endif %} {% if block.settings.img2 != blank %}
              <div class="col-25 card-items-main">
                <div class="card_items">
                  <div class="image">
                    <a href="{{ block.settings.link2 }}">
                    <img
                      src="{{ block.settings.img2 | image_url }}"
                      height="auto"
                      width="auto"
                      class="desktop-img"
                    />
                    {% if block.settings.mob-img2 != blank %}
                    <img
                      src="{{ block.settings.mob-img2 | image_url }}"
                      height="auto"
                      width="auto"
                      class="mobile-img"
                    />
                    {% else %}
                    <img
                      src="{{ block.settings.img2 | image_url }}"
                      height="auto"
                      width="auto"
                      class="mobile-img"
                    />
                    {% endif %}
                    </a>
                  </div>
                  <div class="card_content">
                    <a href="{{ block.settings.link2 }}">
                    <h3 class="main_heading h3 text-uppercase">
                      {{ block.settings.title2 }}
                    </h3>
                    </a>
                    <a href="{{ block.settings.link2 }}">
                      <p class="desc">{{ block.settings.des2 }}</p>
                    </a>
                    <a
                      href="{{ block.settings.link2 | default:'#' }}"
                      class="link makro--link"
                      >{{ block.settings.btn2 }}
                      <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M2 8H14M14 8L8 2M14 8L8 14"
                          stroke="currentcolor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              {% endif %} {% if block.settings.img3 != blank %}
              <div class="col-25 card-items-main">
                <div class="card_items">
                  <div class="image">
                    <a href="{{ block.settings.link3 }}">
                    <img
                      src="{{ block.settings.img3 | image_url }}"
                      height="auto"
                      width="auto"
                      class="desktop-img"
                    />
                    {% if block.settings.mob-img3 != blank %}
                    <img
                      src="{{ block.settings.mob-img3 | image_url }}"
                      height="auto"
                      width="auto"
                      class="mobile-img"
                    />
                    {% else %}
                    <img
                      src="{{ block.settings.img3 | image_url }}"
                      height="auto"
                      width="auto"
                      class="mobile-img"
                    />
                    {% endif %}
                    </a>
                  </div>
                  <div class="card_content">
                    <a href="{{ block.settings.link3 }}">
                    <h3 class="main_heading h3 text-uppercase">
                      {{ block.settings.title3 }}
                    </h3>
                    </a>
                    <a href="{{ block.settings.link2 }}"> <p class="desc">{{ block.settings.des3 }}</p></a>
                    <a
                      href="{{ block.settings.link3 | default:'#' }}"
                      class="link makro--link"
                      >{{ block.settings.btn3 }}
                      <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M2 8H14M14 8L8 2M14 8L8 14"
                          stroke="currentcolor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              {% endif %} {% if block.settings.img4 != blank %}
              <div class="col-25 card-items-main">
                <div class="card_items">
                  <div class="image">
                    <img
                      src="{{ block.settings.img4 | image_url }}"
                      height="auto"
                      width="auto"
                      class="desktop-img"
                    />
                    {% if block.settings.mob-img4 != blank %}
                    <img
                      src="{{ block.settings.mob-img4 | image_url }}"
                      height="auto"
                      width="auto"
                      class="mobile-img"
                    />
                    {% else %}
                    <img
                      src="{{ block.settings.img4 | image_url }}"
                      height="auto"
                      width="auto"
                      class="mobile-img"
                    />
                    {% endif %}
                  </div>
                  <div class="card_content">
                    <h3 class="main_heading h3 text-uppercase">
                      {{ block.settings.title4 }}
                    </h3>
                    <p class="desc">{{ block.settings.des4 }}</p>
                    <a
                      href="{{ block.settings.link4 | default:'#' }}"
                      class="link makro--link"
                      >{{ block.settings.btn4 }}
                      <svg
                        width="16"
                        height="16"
                        viewBox="0 0 16 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M2 8H14M14 8L8 2M14 8L8 14"
                          stroke="currentcolor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %} {% break %} {% endif %} {% endfor %} {% if images_block ==
        false and images_block_with_product == false and submenu_block == false
        %}
        <a href="{{ menu_item.url }}">{{ menu_item.title }}</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>

  </nav>
</div>
             
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const menuItems = document.querySelectorAll('.navbar_list li');
    menuItems.forEach(item => {
        if(item.querySelector('.navbar_link')){
            item.querySelector('.navbar_link').addEventListener('click', function() {
                if(item.closest('.navbar_list').querySelector('.navbar_item.active')){
                    if(item.closest('.navbar_list').querySelector('.navbar_item.active') != item){
                        item.closest('.navbar_list').querySelector('.navbar_item.active').classList.remove('active');    
                    }
                }
                item.classList.toggle('active');
            });
        }
    });
  });
  document.onclick = function(e){
    if(!e.target.closest('.navabar-desktop')){
      console.log('inin');
      if(document.querySelectorAll('.navbar_item.active').length > 0){
      	document.querySelector('.navbar_item.active').classList.remove('active');
      }
    }
  };
</script>
