{{ 'header-megamenu-mobile.css' | asset_url | stylesheet_tag }}

<div class="mobile_navabar megamenu-mobile">
  <div>
    <!-- main header -->
    <div class="megamenu-mobile-inner text-container-navbar">

      <div class="search-localization">
        {% render 'header-search-mobile', input_id: 'Search-In-Modal' %} 
      <div class="desktop-localization-wrapper">
      
          <noscript class="small-hide medium-hide">
            {%- form 'localization', id: 'HeaderCountryMobileFormNoScript', class: 'localization-form' -%}
              1233
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="HeaderCountryMobileLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select class="localization-selector link" name="country_code" aria-labelledby="HeaderCountryMobileLabelNoScript">
                  {%- for country in localization.available_countries -%}
                    <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                      {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form class="no-js-hidden">
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript class="">
            {%- form 'localization', id: 'HeaderLanguageMobileFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                <select class="localization-selector link" name="locale_code" aria-labelledby="HeaderLanguageMobileLabelNoScript">
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form class="no-js-hidden">
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      </div>
        
      
      {% for menu_item in menu.links %}
      {% assign submenu_block = false %}
      <!-- Shop by Type -->

        {% assign images_block = false %}
        {% assign images_block_with_product = false %}
        {% assign submenu_block = false %}

        {% for block in section.blocks %}
          
          {% assign menu_title = menu_item.title | handleize %}
          {% assign menu_block_title = block.settings.menu | handleize %}
          {% if menu_block_title == menu_title %}

            {% if block.type == 'promotion-images' %}
              {% assign images_block = true %}
              <div class="nav-toggle-menu">
                <div class="megamenu-mobile-header-list custom-menu-cmn toggle-close common_h3 d-flex">
                  <li class="list-hidden header-list-main">{{ menu_item.title }}</li>
          
                  <div class="chevron-right-header">
                    {% render 'arrow-black' %}
                  </div>
                </div>
                
                <div class=" toggle-open temporary_display-none animate__animated animate__fadeInRight">
                  <div class="common_h3 d-flex toggle-open-align animate__animated animate__fadeInLeft">
                     <div class="chevron-right-header">
                        {% render 'arrow-black-left' %}
                      </div>
                      <h3 class="h3">{{ menu_item.title }}</h3>
                  </div>

                  <div class="tabstart tab">
                  <button class="cust-menu-btns tablinks active" onclick="openCity(event, 'tab1')"><span class="cust_nav_header">{{ section.settings.navigation_header_1 }}</span></button>
                  <button class="cust-menu-btns tablinks" onclick="openCity(event, 'tab2')"><span class="cust_nav_header">{{ section.settings.navigation_header_2 }}</span></button>
                  </div>
                 
                  <div id="tab1" class="custom-tabs tabcontent">
                    <div class="header-header-text-list">
                      <ul class="cust-inner-menu">
                        {% for link in linklists[section.settings.nav_menu_1].links %}
                          <li>
                            <a href="{{ link.url }}">{{ link.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  
                  <div id="tab2" class="custom-tabs tabcontent" style="display:none">
                   <div class="header-header-text-list">
                      <ul class="cust-inner-menu">
                        {% for link in linklists[section.settings.nav_menu_2].links %}
                          <li>
                            <a href="{{ link.url }}">{{ link.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  
                </div>

              </div>

            {% elsif block.type == 'about' %}
              {% assign images_block_with_product = true %}
              <div class="{% if menu_item.links.size > 0 %}nav-toggle-menu{% endif %}">
                {% if menu_item.links != blank and images_block_with_product == true %}
  
                  <div class="toggle-close custom-menu-cmn common_h3 d-flex">
                    <li class="list-hidden header-list-main">{{ menu_item.title }}</li>
            
                    <div class="chevron-right-header">
                      {% render 'arrow-black' %}
                    </div>
                  </div>
                  
                  <div class=" toggle-open temporary_display-none animate__animated animate__fadeInRight">
                    <div class="common_h3 d-flex toggle-open-align animate__animated animate__fadeInLeft">
                      <div class="chevron-right-header">
                        {% render 'arrow-black-left' %}
                      </div>
                      <h3 class="h3">{{ menu_item.title }}</h3>
                    </div>
            
                    <div class="open_text-navbar-cont">
                        <div class="header-header-text-list">
                          <ul class="cust-inner-menu">
                            {% for link in linklists[section.settings.nav_menu_3].links %}
                              <li>
                                <a href="{{ link.url }}">{{ link.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>

                        <div class="megamenu-mobile-slider">
                         <div class="megamenu-image-with-text-inner">
                            <div class="image-width-text-header">
                              <div class="product-360-category-main">
                                  <a href="{{ section.settings.cta_link_2 }}" class="product-360-category-inner">
                                    <div class="product-360-image" style="background-image: url({{ section.settings.product2_bg | img_url: 'master' }});">
                                      <div class="image">
                                        <img
                                          src="{{ section.settings.pdp_image_2 | img_url: 'master' }}"
                                          alt="Product Image"
                                        />
                                      </div>
                          
                                      <div class="product-360-text-area">
                                        <div class="product-360-header-main">
                                          <div class="common-h5 product-360-header">
                                            <h5>{{ section.settings.header_text_2 }}</h5>
                                          </div>
                                          <div class="product-360-para">
                                            <p>{{ section.settings.paragraph_text_2 }}</p>
                                          </div>
                                        </div>
                                        <div class="link makro--link product-360-link ">
                                          {{ section.settings.cta_text_2 }} 
                                          {% render 'arrow-svg' %}
                                        </div>
                                      </div>
                                     </div>
                                    </a>
                                  </div>
                                </div>
                               </div>
                            </div>
                    </div>
                  </div>
                {% else %}  
                  <div class="common_h3 toggle-close">
                    <h3>{{ menu_item.title }}</h3>
                  </div>
                {% endif %}
              </div>

            {% endif %}

            
            {% break %}

            
            
          {% endif %}

          megamenu-mobile-slider
        {% endfor %}

        {% if images_block == false and images_block_with_product == false and submenu_block == false %}
          <div>
            <div class="common_h3 toggle-close">
              <li class="list-hidden header-list-main"><a href="{{ menu_item.url }}">{{ menu_item.title }}</a></li>
            </div>
          </div>
        {% endif %}
      {% endfor %}

            
            
    </div>

  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    document.querySelectorAll('.mobile_navabar .nav-toggle-menu').forEach((mobile_li) => {
        if(mobile_li.querySelector('.toggle-open')){
            mobile_li.querySelector('.toggle-close').addEventListener('click',function(){
                mobile_li.classList.add('active');
            });
            mobile_li.querySelector('.toggle-open .toggle-open-align').addEventListener('click',function(){
                mobile_li.classList.remove('active');
            });
        }
    })
  });
</script>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
