{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  {{ 'component-localization-form.css' | asset_url | stylesheet_tag }}
{%- endif -%}
  {{ 'component-localization-form.css' | asset_url | stylesheet_tag: preload: true }}
  <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>


<footer class="full_footer">
  <div class="footer_main_sec">
    <div class="footer">
      <div class="custom-footer">
        <div class="custom-subscribe">
        <div class="subscribe">
          <h3>{{ section.settings.heading_text }}</h3>
          {% assign klaviyoListId = 'Yfnh5v' %}
          <form id="newsletter_form" class="_klaviyo_styling klaviyo_gdpr_embed_{{ klaviyoListId }} subscribe_form_div" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" _novalidate="novalidate" data-klaviyo-notify-form>
            <input type="hidden" name="g" value="{{ klaviyoListId }}">
            <input type="hidden" name="$fields" value="language">
            <input type="hidden" name="language" value="{{ request.locale.iso_code }}">
            <div class="custom-subscribes">
            <div class="klaviyo_field_group kgrid">
              <div class="klaviyo_field _email">
                <input class="input-item field_input footer-input" type="email" value="" name="email" id="k_id_email" placeholder="{{ 'newsletter.label' | t }}" required="required" autocomplete="off">
              </div>
              <div class="klaviyo_messages">
              <div class="success_message" style="display:none;"></div>
              <div class="error_message" style="display:none;"></div>
            </div>
            </div>
            
            <div class="klaviyo_form_actions btn-actions">
              <button type="submit" id="Subscribe" class="newsletter-form__button klaviyo_submit_button field__button sub_btn">Join Now {% render 'green-arrow' %} </button>
            </div>
            </div>
          </form> 

          <script>
          document.addEventListener("DOMContentLoaded", (event) => {
            let crLocation = window.location.href;
            KlaviyoSubscribe.attachToForms('#newsletter_form', {
              hide_form_on_success: true,
              success_message: "Thanks for subscribing!",
              extra_properties: {
                $source: crLocation,
                $method_type: "Klaviyo Form",
                $method_id: 'embed'
              },
              success: function ($form) {
                console.log($form);
                $form.addClass('success-true');
              },error : function(){
              }
            }); 
          });
        </script>
          
          <div class="footer-bottom_icon">
            <h3 class="footer-header-regular">{{ section.settings.follow_us_heading }}</h3>
            <div class="social-icons">
              <a href="{{ section.settings.insta_link }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M14.2187 5.78125V5.79063M2.5 6.25C2.5 5.25544 2.89509 4.30161 3.59835 3.59835C4.30161 2.89509 5.25544 2.5 6.25 2.5H13.75C14.7446 2.5 15.6984 2.89509 16.4017 3.59835C17.1049 4.30161 17.5 5.25544 17.5 6.25V13.75C17.5 14.7446 17.1049 15.6984 16.4017 16.4017C15.6984 17.1049 14.7446 17.5 13.75 17.5H6.25C5.25544 17.5 4.30161 17.1049 3.59835 16.4017C2.89509 15.6984 2.5 14.7446 2.5 13.75V6.25ZM7.1875 10C7.1875 10.7459 7.48382 11.4613 8.01126 11.9887C8.53871 12.5162 9.25408 12.8125 10 12.8125C10.7459 12.8125 11.4613 12.5162 11.9887 11.9887C12.5162 11.4613 12.8125 10.7459 12.8125 10C12.8125 9.25408 12.5162 8.53871 11.9887 8.01126C11.4613 7.48382 10.7459 7.1875 10 7.1875C9.25408 7.1875 8.53871 7.48382 8.01126 8.01126C7.48382 8.53871 7.1875 9.25408 7.1875 10Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>

              <a href="{{ section.settings.fblink }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M5.83301 8.33333V11.6667H8.33301V17.5H11.6663V11.6667H14.1663L14.9997 8.33333H11.6663V6.66667C11.6663 6.44565 11.7541 6.23369 11.9104 6.07741C12.0667 5.92113 12.2787 5.83333 12.4997 5.83333H14.9997V2.5H12.4997C11.3946 2.5 10.3348 2.93899 9.5534 3.72039C8.77199 4.50179 8.33301 5.5616 8.33301 6.66667V8.33333H5.83301Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
              
              <a href="{{ section.settings.xlink }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M2.98849 18L8.87492 11.113M10.7811 8.75624L16.4003 2.00003M2.18848 2H5.66473L17.8119 17.9999H14.3356L2.18848 2Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
              
              <a href="{{ section.settings.youtube_link }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M1.25 6.5C1.25 5.57174 1.61875 4.6815 2.27513 4.02513C2.9315 3.36875 3.82174 3 4.75 3H15.25C16.1783 3 17.0685 3.36875 17.7249 4.02513C18.3813 4.6815 18.75 5.57174 18.75 6.5V13.5C18.75 14.4283 18.3813 15.3185 17.7249 15.9749C17.0685 16.6313 16.1783 17 15.25 17H4.75C3.82174 17 2.9315 16.6313 2.27513 15.9749C1.61875 15.3185 1.25 14.4283 1.25 13.5V6.5Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M8.25 7.375L12.625 10L8.25 12.625V7.375Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </a>
              
            </div>
          </div>
    
        </div>
      </div>

        <div class="custom-menu">
          {% for block in section.blocks %}
            <div class="footer-menu-block">
              <div class="inline-menu-flex">
              <h3>{{ block.settings.menu_heading }}</h3>
              <div class="ab-icon-arrow">
                <svg width="15" height="12" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.57747 0.744141L4.99997 4.32164L1.42247 0.744141L0.244141 1.92247L4.99997 6.67831L9.75581 1.92247L8.57747 0.744141Z" fill="#fff"/>
                </svg>
              </div>
              </div>
              <div class="ab-footer-linklist">
              {% for link in linklists[block.settings.navigation_menu].links %}
                <div>
                <a href="{{ link.url }}">{{ link.title }}</a>
                </div>
              {% endfor %}
            </div>
            </div>
          {% endfor %}
        </div>

    </div>
  </div>
 </div>

  <div class="footer_bottom_links main_mobile_div">
    <div class="links">
      <a href="{{ section.settings.terms_conditions_link_url }}">{{ section.settings.terms_conditions_link_text }}</a>
      <a href="{{ section.settings.privacy_policy_link_url  }}">{{ section.settings.privacy_policy_link_text }}</a>
    </div>
  </div>

  <div class="divider main_desktom_div"></div>
  <div class="main_copyrigt_sec main_desktom_div">
    <div class="footer_main_sec">
      <div class="copyrigt_grid">
      <div class="desktop-none"></div>
      <div class="main_privacy">
        <p class="privacy_policy_sec"><a href="#">{{ section.settings.privacy_policy_link_text }}</a></p>
      </div>

      <div class="main_copyright">
        <p class="privacy_policy_sec"><a href="#">{{ section.settings.terms_conditions_link_text }}</a></p>
      </div>
      </div>
      
    </div>
    
  </div>
  <div class="footer_main_sec cust-bottom-padd">
  <div class="footer-bottom">
    <div class="">
      <h4>{{section.settings.company_name}}</h4>
    </div>
   <div class="footer-data-flex">
      <div class="footer-data-left">
        <p>{{section.settings.reserve_text}}</p>
      </div>
      <div class="footer-data-right">
        <localization-form class="no-js-hidden">
          {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
            <div>
              <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
              {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
            </div>
          {%- endform -%}
          
        </localization-form>
      </div>
   </div>
  </div>
  </div>

</footer>
{% comment %} <script>
  document.querySelectorAll('.footer_main_sec .disclosure__button').forEach(button => {
    button.addEventListener('click', () => {
      const isExpanded = button.getAttribute('aria-expanded') === 'true';
      button.setAttribute('aria-expanded', !isExpanded);

      const listWrapper = button.nextElementSibling;
      if (!isExpanded) {
        listWrapper.style.display = 'block';
      } else {
        listWrapper.style.display = 'none';
      }
    });
  });
</script> {% endcomment %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "menu_block",
      "name": "Navigation Menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_heading",
          "label": "Menu Heading",
          "default": "Bio-K+ Products"
        },
        {
          "type": "link_list",
          "id": "navigation_menu",
          "label": "Navigation Menu"
        }
      ]
    },
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content",
      "info": "t:sections.footer.settings.header__9.info"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__8.content",
      "info": "t:sections.footer.settings.header__8.info"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": false,
      "label": "t:sections.footer.settings.show_policy.label"
    },
    {
      "type": "html",
      "id": "heading_text",
      "label": "Heading",
      "default": "Make Bio-K+ part of your daily wellbeing routine!"
    },
    {
      "type": "text",
      "id": "follow_us_heading",
      "label": "Heading",
      "default": "Follow Us"
    },
    {
      "type": "url",
      "id": "insta_link",
      "label": "Instagram link"
    },
    {
      "type": "url",
      "id": "fblink",
      "label": "Facebook link"
    },
    {
      "type": "url",
      "id": "xlink",
      "label": "X link"
    },
    {
      "type": "url",
      "id": "youtube_link",
      "label": "Youtube link"
    },
    {
      "type": "text",
      "id": "privacy_policy_link_text",
      "label": "Privacy Policy Link Text",
      "default": "Privacy Policy"
    },
    {
      "type": "url",
      "id": "privacy_policy_link_url",
      "label": "Privacy Policy Link URL"
    },
    {
      "type": "text",
      "id": "terms_conditions_link_text",
      "label": "Terms & Conditions Link Text",
      "default": "Terms & Conditions"
    },
    {
      "type": "url",
      "id": "terms_conditions_link_url",
      "label": "Terms & Conditions Link URL"
    },
    {
      "type": "text",
      "id": "company_name",
      "label": "company_name",
      "default": "© 2024 Bio-K+, a Kerry company."
    },
    {
      "type": "text",
      "id": "reserve_text",
      "label": "reserve_text",
      "default": "All Rights Reserved. Bio-K Plus is a registered Trade Mark of Kerry Group"
    }   
  ],
}
{% endschema %}
