{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

{%- endstyle -%}
{{ 'custom-section-latest-article.css' | asset_url | stylesheet_tag }}

<div class="blog-latest-article section-padding">
  <div class="page-width">
    <h4 class="h4 heading">Latest Articles:</h4>

    <div class="latest-article-cards swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide article-cards">
          <a href="#"></a>
          <div class="image-card">
            <figure><img src="https://cdn.shopify.com/s/files/1/0455/1183/5798/files/latest-article1.png?v=1728385831" height="auto" width="auto"></figure>
          </div>
          <div class="card-content-wrap">
            <div class="card-content">
              <span class="article-date">May, 12. 2024</span>
              <div class="title">Gut microbiome, Probiotics and, Premenstrual Disorders</div>
              <p class="sort-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            </div>
            <div class="tags-wrap">
              <div class="tag-list">
                <div class="label label_1">Wellness</div>
                <div class="label label_2">Gut Health</div>
              </div>
              <a href="/" class="btn btn-article">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                  <g clip-path="url(#clip0_564_2125)">
                    <path d="M1.5 6H10.5M10.5 6L6 1.5M10.5 6L6 10.5" stroke="#009845" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_564_2125">
                      <rect width="12" height="12" fill="white"/></rect>
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide article-cards">
          <a href="#"></a>
          <div class="image-card">
            <figure><img src="https://cdn.shopify.com/s/files/1/0455/1183/5798/files/latest-article2.png?v=1728385831" height="auto" width="auto"></figure>
          </div>
          <div class="card-content-wrap">
            <div class="card-content">
              <span class="article-date">May, 12. 2024</span>
              <div class="title">What Do Probiotic Bacteria Actually Do in the Body?</div>
              <p class="sort-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            </div>
            <div class="tags-wrap">
              <div class="tag-list">
                <div class="label label_1">Wellness</div>
                <div class="label label_2">Gut Health</div>
              </div>
              <a href="/" class="btn btn-article">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                  <g clip-path="url(#clip0_564_2125)">
                    <path d="M1.5 6H10.5M10.5 6L6 1.5M10.5 6L6 10.5" stroke="#009845" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_564_2125">
                      <rect width="12" height="12" fill="white"/></rect>
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-slide article-cards">
          <a href="#"></a>
          <div class="image-card">
            <figure><img src="https://cdn.shopify.com/s/files/1/0455/1183/5798/files/latest-article3.png?v=1728385832" height="auto" width="auto"></figure>
          </div>
          <div class="card-content-wrap">
            <div class="card-content">
              <span class="article-date">May, 12. 2024</span>
              <div class="title">Probiotic supplements and gut health: my retired father takes charge of his health</div>
              <p class="sort-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            </div>
            <div class="tags-wrap">
              <div class="tag-list">
                <div class="label label_1">Wellness</div>
                <div class="label label_2">Gut Health</div>
              </div>
              <a href="/" class="btn btn-article">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                  <g clip-path="url(#clip0_564_2125)">
                    <path d="M1.5 6H10.5M10.5 6L6 1.5M10.5 6L6 10.5" stroke="#009845" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_564_2125">
                      <rect width="12" height="12" fill="white"/></rect>
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-next next-button btn-navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M6.25 17.5L13.75 10L6.25 2.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <div class="swiper-button-prev prev-button btn-navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M13.75 17.5L6.25 10L13.75 2.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>

      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function () {
  var swiper = new Swiper(".latest-article-cards", {
      slidesPerView: 1,
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      scrollbar: {
        el: ".swiper-scrollbar"
      },
      breakpoints: {
        767: {
          slidesPerView: 2,
          spaceBetween: 10,
        },
        1040: {
          slidesPerView: 4,
          spaceBetween: 30,
        }
      }
  });
});
</script>

{% schema %}
{
  "name": "custom blog  Slider",
  "settings": [
    
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "One Tool, Lots of Benefits."
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading",
      "default": "Trusted in over 60,000 kitchens"
    },
     {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
            "type": "color",
            "id": "bgcolor",
            "label": "background color"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Pro-Grade Capacity"
        },
        {
            "type": "text",
            "id": "tag1",
            "label": "Tag 1"
          },
          {
            "type": "color",
            "id": "tag1color",
            "label": "Tag 1 color"
          },
          {
            "type": "text",
            "id": "tag2",
            "label": "Tag 2"
          },
          {
            "type": "color",
            "id": "tag2color",
            "label": "Tag 2 color"
          },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "custom blog Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}