{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
 

{%- endstyle -%}
{{ 'custom-section-slider.css' | asset_url | stylesheet_tag }}
<div class="slider-main-view index-reviews-sec section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="section-title {{ section.settings.desktop_content_alignment }} ">
      <h2>{{ section.settings.review_heading }}</h2>
      <p>{{ section.settings.review_description }}</p>
    </div>
    <div class="latest-review-cards swiper overflow">
      <div class="swiper-wrapper">
          {% for block in section.blocks %}
          <div class="swiper-slide article-cards">
            <a href="{{ block.settings.url }}"></a>
            <div class="card-content-wrap">
              <div class="card-content">
                <div class="review-card-inner">
                  <div class="stars">
                    <div class="star-rating">
                      {% for i in (1..5) %}
                        {% assign star_count = block.settings.star_count | times: 1 %}
                          <svg class="star {% if i <= star_count %}filled{% endif %}" data-value="{{ i }}" width="30" height="28" viewBox="0 0 30 28"  fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M14.1033 0.816984C14.4701 0.0737379 15.5299 0.0737401 15.8967 0.816986L19.4696 8.05642C19.6153 8.35157 19.8968 8.55614 20.2225 8.60346L28.2117 9.76436C29.032 9.88355 29.3595 10.8915 28.766 11.4701L22.9849 17.1052C22.7492 17.3349 22.6417 17.6659 22.6973 17.9903L24.062 25.9472C24.2022 26.7641 23.3447 27.3871 22.6111 27.0014L15.4653 23.2446C15.174 23.0915 14.826 23.0915 14.5347 23.2446L7.38891 27.0014C6.65528 27.3871 5.79785 26.7641 5.93796 25.9472L7.30268 17.9903C7.35831 17.6659 7.25077 17.3349 7.01508 17.1052L1.23404 11.4701C0.640526 10.8915 0.968038 9.88355 1.78826 9.76436L9.77745 8.60346C10.1032 8.55614 10.3847 8.35157 10.5304 8.05642L14.1033 0.816984Z" {% if i <= star_count %}fill="#009845" {% else %}fill="#eee"{% endif %} />
                          </svg>
                      {% endfor %}
                    </div>
                  </div>
                  <h4 class="review-card-head">{{ block.settings.review_text }}</h4>
                </div>
              </div>
              <div class="product">
                <div class="product-img">
                  <img src="{{ block.settings.product_image | img_url: 'medium' }}" alt="{{ block.settings.author_name }}" />
                </div>
                <div class="product-right">
                  <p class="author">{{ block.settings.author_name }}</p>
                  <p class="des">About <a href="{{ block.settings.product_link }}" class="des-link">{{ block.settings.product_name }}</a></p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="swiper-button-next next-button btn-navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M6.25 17.5L13.75 10L6.25 2.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <div class="swiper-button-prev prev-button btn-navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M13.75 17.5L6.25 10L13.75 2.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
      <div class="swiper-scrollbar"></div>
    </div>

    <a href="{{ section.settings.button_link }}" class="bio-btn">
      <span>{{ section.settings.button_text }}</span>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <path d="M2 8H14M14 8L8 2M14 8L8 14" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </a>
  </div>
</div>

<style>

</style>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function () {
  var swiper = new Swiper(".latest-review-cards", {
      slidesPerView: 1,
      spaceBetween: 10,
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      scrollbar: {
        el: ".swiper-scrollbar"
      },
      breakpoints: {
        767: {
          slidesPerView: 2,
          spaceBetween: 0,
        },
        1040: {
          slidesPerView: 3,
          spaceBetween: 0,
        }
      }
  });
});
</script>

{% schema %}
{
  "name": "Reviews Slider",
  "settings": [
    {
      "type": "text",
      "id": "review_heading",
      "label": "Review Heading",
      "default": "7000+ Verified 5-Star Reviews"
    },
    {
      "type": "textarea",
      "id": "review_description",
      "label": "Review Description",
      "default": "Norem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis."
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "Heading Position"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Find Your Bio-K+"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "settings": [
        {
          "type": "select",
          "id": "star_count",
          "label": "Number of Stars",
          "options": [
            { "value": "1", "label": "1 Star" },
            { "value": "2", "label": "2 Stars" },
            { "value": "3", "label": "3 Stars" },
            { "value": "4", "label": "4 Stars" },
            { "value": "5", "label": "5 Stars" }
          ],
          "default": "5"
        },
        {
          "type": "textarea",
          "id": "review_text",
          "label": "Review Text",
          "default": "Norem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis."
        },
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "author_name",
          "label": "Author Name",
          "default": "John P."
        },
        {
          "type": "text",
          "id": "product_name",
          "label": "Product Name",
          "default": "Dairy Active Shot"
        },
        {
          "type": "url",
          "id": "product_link",
          "label": "Product Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Reviews Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}